.Tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

.OneTab {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 8px;
  background: rgb(255, 128, 0);
}

.OneTab button {
  background: transparent;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.OneTab div {
  display: flex;
  align-items: center;
}

.OneTab img {
  margin-right: 8px;
  width: 1rem;
  height: auto;
}

.OneTab button:hover {
  background: black;
  border-radius: 4px;
}

@media screen and (max-width: 812px) {
  .tabs {
    display: none;
  }
}
